.header {
  position: fixed;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1001;
}

@media (max-width: 1050px) {
  .header {
    justify-content: start;
  }
}
